*{
  margin: 0;
  padding: 0;
}

.row{
  height: 100vh;
}
.title{
  padding: 40px 20px;
  text-decoration: none;
  color: red;
}
.title div{
  margin: 0 5px;
}

.sidebar li{
  background-color: white;
  border: 1px solid white;
  padding: 5px;
  margin: 0 5px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.sidebar li:hover{
  border: 1px solid white;
  background-color: red;
  color: whitesmoke;
  
}

.sidebar li i{
  margin: 0 5px;
}
.sidebar li span{
  margin: 0 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
